@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn_hover {
    @apply rounded-lg after:h-0.5 after:w-0 after:block after:transition-all hover:after:h-0.5 hover:after:w-full hover:after:block hover:after:ease-linear hover:after:duration-[3000];
  }
  .rev-btn_hover {
    @apply rounded-lg after:h-0.5 after:w-0 after:block after:transition-all hover:after:h-0.5 hover:after:w-full hover:after:block hover:after:ease-linear hover:after:duration-[3000];
  }
}

@layer utilities {
  .padding {
    @apply px-5 py-10 md:py-16 md:px-10 xl:p-16;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll bar */
/* body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #122149;
  outline: 1px solid #f5f5f5;
  border-radius: 5px;
} */

.thumbnail::-webkit-scrollbar {
  height: 12px;
}

.thumbnail::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.thumbnail::-webkit-scrollbar-thumb {
  background-color: #122149;
  outline: 1px solid #f5f5f5;
  border-radius: 5px;
}

.custom::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* animate play&pause */
.pause:hover {
  animation-play-state: paused;
}

/* Product items @mobile view */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* custom react slick */

.slick-slide > div {
  margin: 0 10px !important;
}

/* .slick-slide > div {
  margin: 0 20px !important;
} */

.hero-mask {
  mask-image: url("/heromask.png");
  -webkit-mask-image: url("/heromask.png");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.hero-mask_home {
  mask-image: url("/mask-image.png");
  -webkit-mask-image: url("/mask-image.png");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 100%;
}
.card-mask {
  mask-image: url("/cardmask.png");
  -webkit-mask-image: url("/cardmask.png");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 100%;
}

.card-mask_2 {
  mask-image: url("/cardmask.png");
  -webkit-mask-image: url("/cardmask.png");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 100%;
}

.rtl_card-mask {
  mask-image: url("/rtl-mask.png");
  -webkit-mask-image: url("/rtl-mask.png");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 100%;
}

.explore_card-mask {
  mask-image: url("/mask-image-2.png");
  -webkit-mask-image: url("/mask-image-2.png");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  /* width: 100%; */
  height: 100%;
}

/* Breakpoints */
/* @media (max-width: 1530px) {
  .card-mask {
    width: 55%;
  }
}

@media (max-width: 1440px) {
  .card-mask {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .card-mask {
    width: 80%;
  }
}

@media (max-width: 810px) {
  .card-mask {
    width: 80%;
  }
}

@media (max-width: 390px) {
  .card-mask {
    width: 98%;
    height: 25%;
  }
} */
